.testimonial-card {
  background-color: white;
  padding: 2.6rem;
  flex: 1;
  border-radius: 0.8rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.185);
}

.testimonial-card .top {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial-card p {
  line-height: 1.5;
}