.testimonial-card {
  background-color: white;
  padding: 2.6rem;
  flex: 1;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.185);
  position: relative;
}

.testimonial-card .fruit {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

.testimonial-card .top {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial-card p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .testimonial-card .fruit {
    width: 60px;
  }
}

