.cart-page {
  min-height: 100vh;
  padding: 5rem 0;
}

.cart-page .empty-state {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-page table {
  width: 100%;
  /* border-collapse: collapse; */
  gap: 4rem;
  border-radius: var(--border-radius);
  /* overflow: hidden; */
}

.cart-page tbody {
  padding-right: 2rem;
}

.cart-page tr:not(thead > tr) {
  box-shadow: 0px 0px 10px rgba(161, 158, 158, 0.425);
  margin-bottom: 8rem;
}

.cart-page th {
  padding: 2rem;
}