.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.13);
  border-radius: var(--border-radius);
  background-color: white;
  gap: 2rem;
  padding-bottom: 3rem;
}

.product-card .image-link {
  width: 100%;
  height: 100%;
}

.product-card:hover .details {
  transform: scale(1.05);
}

.product-card .image-container {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  background-color: #F5CBAC;
}

.product-card .smoothie-image-container {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  background-color: #DAE7C9;
}

.product-card:hover .image-container {
  background-color: #c46821;
}

.product-card:hover .smoothie-image-container {
  background-color: #659c1d;
}

.product-card:hover .image-container img {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.product-card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s;
  width: 100%;
}

.product-card .details h3 {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.product-card .buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  /* width: 100%; */
}

.product-card button {
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem;
  background-color: #FA6F06;
  color: white;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  
}

.product-card .view-details-button {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.product-card button .cart-icon {
  font-weight: 700;
  font-size: 2.4rem;

}
