.offerItem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.offerItem-container p {
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .offerItem-container p {
    font-size: 1.4rem;
  }
}