.shop-section {
  min-height: 100vh;
  padding: 5rem 0;
}

.shop-section .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 0 auto 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
  background-color: white;
}

.shop-section .links a {
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s;
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.shop-section .links a:visited {
  color: var(--primary-color);
}

.shop-section .links a.active {
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.5s;
}

@media (max-width: 900px) {
  .shop-section .links {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .shop-section .links {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .shop-section .links {
    width: 100%;
  }
}