* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --header-color: #1A1C18;
  --paragraph-color: #3e3f3c;
  --primary-color: #2A4512;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var(--paragraph-color);
}

.wrapper {  
  max-width: 1200px;
  width: 80%;
  margin: 5rem auto;
}

.outlet {
  margin: 5rem 0;
}

