* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --header-color: #1A1C18;
  --paragraph-color: #3e3f3c;
  --primary-color: #2A4512
}

body {
  font-size: 1.6rem;
  color: var(--paragraph-color);
}

.wrapper {  
  max-width: 1200px;
  width: 80%;
  margin: 5rem auto;
  
}

.button {
  padding: 1rem 2.4rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  width: 28rem;
  cursor: pointer;
}

.button:hover {
  background-color: #3F6919;
}

.button:active {
  background-color: #0D2000;
}

/* .layout {
  display: grid;
  grid-template-rows: 8rem 1fr 10rem;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px solid red; */
  height: 8rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(53, 52, 52);
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 4rem;
}

.navbar-links {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.navbar-links a {
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  padding: 0 0.4rem 0.6rem;
  
}

.navbar-links a.active {
  border-bottom: 5px solid #395f18;
  color: #395f18;
}

.navbar span {
  /* display: inline-block; */

  padding: 0.2rem 1rem;
  background-color: rgb(167, 36, 36);
  color: white;
}

.outlet {
  margin-top: 5rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  padding: 0 12rem;
}

.hero-container h1 {
  font-size: 6.4rem;
  color: var(--header-color);
  width: 45%;
}

.hero-container p {
  font-size: 2.4rem;
  width: 40%;
}

.hero-container button {
  align-self: flex-start;
}

.offer-section {
  min-height: 30rem;
  background-color: #DAE7C9;
  padding: 5rem 0;
}

.offers-container {
  display: flex;
}

.offerItem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.offerItem-container p {
  text-align: center;
  font-size: 1.8rem;
}

.products-section {
  min-height: 30rem;
  padding: 5rem 0;
}


.product-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 position: relative;
 box-shadow: 0 2px 20px rgba(0, 0, 0, 0.185);
 border-radius: 0.8rem;
}

.product-card a {
  width: 100%;
}

.product-card:hover .details {
  transform: scale(1.05);
}

.product-card .image-container {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
}

.product-card:hover .image-container {
  background-color: #F5CBAC;
}

.product-card:hover .image-container img {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.3s;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* right: 0;
  bottom: 0; */

}

.product-card .details {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s;
}

/* .product-card .details p {
  width: 60%;
} */

.product-card button {
  position: absolute;
  right: 5%;
  bottom: 2%;
  cursor: pointer;
}

.home-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.testimonials-section {
  min-height: 30rem;
  background-color: #DAE7C9;
  padding: 5rem 0;
}

.testimonials-container {
  display: flex;
  gap: 2.4rem;
}

.testimonial-card {
 background-color: white; 
 padding: 2.6rem;
 flex: 1;
 border-radius: 0.8rem;
 box-shadow: 0 2px 20px rgba(0, 0, 0, 0.185);
}

.testimonial-card .top {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial-card p {
  line-height: 1.5;
}

.contact-us-section form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1.8rem;
}

.contact-us-section form label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-us-section input {
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
}

.contact-us-section textarea {
  padding: 1.6rem 2.4rem;
  resize: none;
  font-size: 1.6rem;
}

.shop-section {
  min-height: 30rem;
    /* background-color: #DAE7C9; */
  padding: 5rem 0;
}

.shop-section .links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto 3rem;
  border: 1px solid green;
  border-radius: 3rem;
}

.shop-section .links a {
  text-decoration: none;
  padding: 1rem;
  transition: all 0.5s;
}

.shop-section .links a.active {
  border-radius: 3rem;
  background-color: green;
  color: white;
}

.juices-container, .smoothies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.product-details-container {
  display: flex;
  margin-bottom: 8rem;
}

.product-details-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  margin: 0 auto;
}

.counter button {
  padding: 0.6rem;
}

.terms-and-conditions-container {
  margin-bottom: 8rem;
}

.terms-and-conditions-container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.customers-viewed-container div {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;

}

.cart-page {
  min-height: 30rem;
  /* background-color: #DAE7C9; */
  padding: 5rem 0;
}

.cart-page .empty-state {
  text-align: center;
}

.cart-page table {
  width: 100%;
  border-collapse: collapse;
  gap: 2rem;
}

.cart-page tr:not(thead > tr) {
  box-shadow: 0px 0px 10px rgba(161, 158, 158, 0.425);
  margin-bottom: 2rem;
}

.cart-page th {
  padding: 2rem;
}

.cart-page td {
  text-align: center;
}

.cart-page .product-image-and-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.checkout-section {
  min-height: 30rem;
  padding: 5rem 0;
}

.checkout-container {
  display: flex;
  gap: 8rem;
  flex-wrap: wrap;
}

.billing-address-container {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.billing-address-container form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.billing-address-container form label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.billing-address-container input {
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.radio-button {
  display: flex;
  gap: 3rem;
}

.your-items-container {
  flex: 1;
}

.checkout-items {
  display: flex;
  margin-top: 2rem;
  /* gap: 4rem; */
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
  padding: 1rem;
  /* justify-content: space-between; */
}

.checkout-items .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grand-total {
  text-align: right;
}



